@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark;
}

/* Base styles for the project */
@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    @apply bg-base-100 text-base-content antialiased transition-colors duration-300;
  }
}

/* Custom Utility for Navigation */
@layer components {
  .nav-link-active {
    @apply text-emerald-600 font-bold border-b-2 border-emerald-600 pb-1;
  }
}

@layer components {
  .brand-gradient {
    @apply bg-linear-to-r from-emerald-500 to-teal-600 bg-clip-text text-transparent;
  }
}